<p>reservation works!</p>


<div>
<table>
    <tr>
        <p-cascadeSelect  [options]="countries" optionLabel="countries" optionGroupLabel="name" 
        [optionGroupChildren]="['states', 'cities']" [style]="{'minWidth': '14rem'}" placeholder="Select a City"></p-cascadeSelect>
        <th>Pick Up Day</th>
        <th>Return Day</th>
        <th>Car Type</th>
        <th>
        <label for="name">Location</label>
        <input
          type="number"
          id="id"
        />
        </th>
        <!-- [(ngModel)]="productFormData.id" -->
      </tr>
</table>
</div>