<table>
    <tr>
        <img src="..\..\assets\Logo.png">
    </tr>
</table>
<table>
    <tr>
        <th><a routerLink="/my-reservations" routerLinkActivate="active" ariaCurrentWhenActive="page" tag="button">My Reservations</a></th>
        <th><a routerLink="/car-cards" routerLinkActivate="active" ariaCurrentWhenActive="page">Cars</a></th>
        <th><a routerLink="/reservation" routerLinkActivate="active" ariaCurrentWhenActive="page">Schedule a Reservation</a></th>
    </tr>
</table>
<router-outlet></router-outlet>